 <!-- ----- about me section ------ -->
    <div id="about" class="w-full px-[12%] py-10 scroll-mt-20">
        <h4 class="text-center mb-2 text-lg font-Ovo">Introduction</h4>
        <h2 class="text-center text-5xl font-Ovo">About me</h2>
        <div class="flex w-full flex-col lg:flex-row items-center gap-20 my-20">
            <div class="max-w-max mx-auto relative"><img src="./assets/user-image.png" alt=""
                    class="w-64 sm:w-80 rounded-3xl max-w-none">
                <div
                    class="bg-white w-1/2 aspect-square absolute right-0 bottom-0 rounded-full translate-x-1/4 translate-y-1/3 shadow-[0_4px_55px_rgba(149,0,162,0.15)] flex items-center justify-center">
                    <img src="./assets/c2.png" alt="" class="w-full animate-spin_slow">
                    <img src="./assets/c34.jpeg" alt=""
                        class="w-1/4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                </div>
            </div>
            <div class="flex-1">
                <p class="mb-10 max-w-2xl font-Ovo">Specializing in Social Network Analysis through Natural Language Processing techniques. My expertise includes Large Language Models, Machine Learning, Deep Learning, Speaker Identification, and Speech Recognition, with a research focus on building intelligent and interpretable AI systems for analyzing human interaction and information dynamics in online environments.
                    Feel free to contact me for research collaboration, academic discussions, or professional opportunities.</p>
                <ul class="grid grid-cols-1 sm:grid-cols-3 gap-6 max-w-2xl">
                    <li
                        class=" border border-gray-300 dark:border-white/30 rounded-xl p-6 cursor-pointer hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:shadow-white/80 dark:hover:bg-darkHover/50">
                        <img src="./assets/tmu.png" alt="" class="w-7 mt-3 dark:hidden"><img
                            src="./assets/tmu.png" alt="" class="w-7 mt-3 hidden dark:block">
                        <h2 class="my-4 text-3xl font-semibold text-gray-700 dark:text-white">Ph.D</h2>
                        <p class="text-gray-600 text-sm dark:text-white/80">2028</p>
                        <p class="text-gray-600 text-sm dark:text-white/80">Computer Science</p>
                        <p class="text-black text-base dark:text-white/80">Tokyo Metropolitan University (TMU)</p>
                        
                    </li>
                    <li
                        class="border border-gray-300 dark:border-white/30 rounded-xl p-6 cursor-pointer hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:shadow-white/80 dark:hover:bg-darkHover/50">
                        <img src="./assets/uet.png" alt="" class="w-7 mt-1 dark:hidden"><img
                            src="./assets/uet.png" alt="" class="w-7 mt-3 hidden dark:block">
                        <h3 class="my-4 text-3xl font-semibold text-gray-700 dark:text-white">M.Sc</h3>
                        <p class="text-gray-600 text-sm dark:text-white/80">2023</p>
                        <p class="text-gray-600 text-sm dark:text-white/80">Computer Science</p>
                        <p class="text-black text-base dark:text-white/80">University of Engineering and Technology (UET)</p>
                    </li>
                    <li
                        class="border border-gray-300 dark:border-white/30 rounded-xl p-6 cursor-pointer hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:shadow-white/80 dark:hover:bg-darkHover/50">
                        <img src="./assets/uso.png" alt="" class="w-7  dark:hidden"><img
                            src="./assets/uso.png" alt="" class="w-7 mt-3 hidden dark:block">
                        <h3 class="my-4  text-3xl font-semibold text-gray-700 dark:text-white">BS</h3>
                        <p class="text-gray-600 text-sm dark:text-white/80">2021</p>
                        <p class="text-gray-600 text-sm dark:text-white/80">Computer Science</p>
                        <p class="text-black text-base dark:text-white/80">University of Sargodha</p>
                    </li>
                </ul>
                <!-- <h4 class="my-6 text-gray-700 font-Ovo dark:text-white/80">Tools i use</h4> -->
                <!-- <ul class="flex items-center gap-3 sm:gap-5">
                    <li
                        class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-300 dark:border-white/30 rounded-lg cursor-pointer hover:-translate-y-1 duration-500">
                        <img src="./assets/vscode.png" alt="vscode" class="w-5 sm:w-7">
                    </li>
                    <li
                        class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-300 dark:border-white/30 rounded-lg cursor-pointer hover:-translate-y-1 duration-500">
                        <img src="./assets/firebase.png" alt="firebase" class="w-5 sm:w-7">
                    </li>
                    <li
                        class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-300 dark:border-white/30 rounded-lg cursor-pointer hover:-translate-y-1 duration-500">
                        <img src="./assets/mongodb.png" alt="mongodb" class="w-5 sm:w-7">
                    </li>
                    <li
                        class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-300 dark:border-white/30 rounded-lg cursor-pointer hover:-translate-y-1 duration-500">
                        <img src="./assets/figma.png" alt="figma" class="w-5 sm:w-7">
                    </li>
                    <li
                        class="flex items-center justify-center w-12 sm:w-14 aspect-square border border-gray-300 dark:border-white/30 rounded-lg cursor-pointer hover:-translate-y-1 duration-500">
                        <img src="./assets/git.png" alt="git" class="w-5 sm:w-7">
                    </li>
                </ul> -->
            </div>
        </div>
    </div>
