<div id="certifications" class="transparent-theme  py-16  mt-20 scroll-mt-20">

    <!-- <h2 class="text-center text-5xl font-Ovo mb-20"></h2> -->
    <div class="section-container border border-gray-300 dark:border-white/30 rounded-xl p-6 hover: hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:bg-darkHover dark:hover:shadow-white">
 

                    <h2 class="text-center text-5xl font-Ovo mb-20">Certifications & Courses</h2>
                
                
                        <ul class="flex flex-col  mt-12 gap-6 w-full px-[12%] py-10 scroll-mt-20 font-Ovo">
                
                            <li class="border border-gray-300 dark:border-white/30 rounded-xl p-6 hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:bg-darkHover dark:hover:shadow-white">
                
                                <h2 class="text-xl font-semibold text-gray-800 dark:text-white">
                                    Transformers & Large Language Models
                                </h2>
                
                                <p class="text-base text-gray-500 mt-1 dark:text-white/60">
                                    2026 · Stanford University
                                </p>
                
                            </li>
                
                            <li class="border border-gray-300 dark:border-white/30 rounded-xl p-6 hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:bg-darkHover dark:hover:shadow-white">
                
                                <h2 class="text-xl font-semibold text-gray-800 dark:text-white">
                                    Generative AI & Foundational Models for NLP and Language Understanding
                                </h2>
                
                                <p class="text-base text-gray-500 mt-1 dark:text-white/60">
                                    2025 · IBM
                                </p>
                
                            </li>
                
                            <li class="border border-gray-300 dark:border-white/30 rounded-xl p-6 hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:bg-darkHover dark:hover:shadow-white">
                
                                <h2 class="text-xl font-semibold text-gray-800 dark:text-white">
                                    Deep Learning and Reinforcement Learning
                                </h2>
                
                                <p class="text-base text-gray-500 mt-1 dark:text-white/60">
                                    2025 · IBM
                                </p>
                
                            </li>
                
                            <li class="border border-gray-300 dark:border-white/30 rounded-xl p-6 hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:bg-darkHover dark:hover:shadow-white">
                
                                <h2 class="text-base font-semibold text-gray-800 dark:text-white">
                                    NLP: Twitter Sentiment Analysis
                                </h2>
                
                                <p class="text-base text-gray-500 mt-1 dark:text-white/60">
                                    2025 · Coursera
                                </p>
                
                            </li>
                
                            <li class="border border-gray-300 dark:border-white/30 rounded-xl p-6 hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:bg-darkHover dark:hover:shadow-white">
                
                                <h2 class="text-xl font-semibold text-gray-800 dark:text-white">
                                    Machine Learning
                                </h2>
                
                                <p class="text-base text-gray-500 mt-1 dark:text-white/60">
                                    2024 · Stanford University
                                </p>
                
                            </li>
                
                            <li class="border border-gray-300 dark:border-white/30 rounded-xl p-6 hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:bg-darkHover dark:hover:shadow-white">
                
                                <h2 class="text-xl font-semibold text-gray-800 dark:text-white">
                                    Python Core
                                </h2>
                
                                <p class="text-base text-gray-500 mt-1 dark:text-white/60">
                                    2022 · SoloLearn
                                </p>
                
                            </li>
                
                        </ul>
                
        
    </div>
</div>   
