<div id="education" class="w-full px-[12%] py-10 scroll-mt-20">
        <!-- <h4 class="text-center mb-2 text-lg font-Ovo">Introduction</h4> -->
        <h2 class="text-center text-5xl font-Ovo">Education</h2>
        <div class="flex w-full flex-col lg:flex-row items-stretch gap-6 my-20">
            <div class="flex "><img src="./assets/ok.png" alt=""
                    class="w-64 sm:w-80 rounded-3xl max-w-none">
                <!-- <div
                    class="bg-white w-1/2 aspect-square absolute right-0 bottom-0 rounded-full translate-x-1/4 translate-y-1/3 shadow-[0_4px_55px_rgba(149,0,162,0.15)] flex items-center justify-center">
                    <img src="./assets/circular-text.png" alt="" class="w-full animate-spin_slow">
                    <img src="./assets/dev-icon.png" alt=""
                        class="w-1/4 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
                </div> -->
            </div>
            <div class="flex-1">
    
                <ul class="flex flex-col gap-6 max-w-2xl">
    
                    <!-- PhD -->
                    <li class="border border-gray-300 dark:border-white/30 rounded-xl p-6 hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:shadow-white/80 dark:hover:bg-darkHover/50">
                        
                        <img src="./assets/tmu.png" alt="TMU" class="w-6 h-6 object-contain">
                
                        <h2 class="text-xl font-semibold text-gray-700 dark:text-white">
                            Tokyo Metropolitan University (TMU)
                        </h2>
                
                        <p class="mt-2 text-base text-gray-600 dark:text-white/80 leading-relaxed">
                            <strong>2025 – Present</strong><br>
                            Ph.D. in Computer Science<br>
                            Advisor: Prof. Dr. Masaki Aida
                        </p>
                    </li>
                
                    <!-- MS -->
                    <li class="border border-gray-300 dark:border-white/30 rounded-xl p-6 hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:shadow-white/80 dark:hover:bg-darkHover/50">
                        
                        <img src="./assets/uet_transparent.png" alt="UET Lahore" class="w-6 h-6 object-contain">
                
                        <h2 class="text-xl font-semibold text-gray-700 dark:text-white">
                            University of Engineering and Technology (UET), Lahore
                        </h2>
                
                        <p class="mt-2 text-base text-gray-600 dark:text-white/80 leading-relaxed">
                            <strong>2021 – 2023</strong><br>
                            M.Sc. in Computer Science<br>
                            Advisor: Prof. Dr. Muhammad Shoaib<br>
                            Thesis: A Technique To Enhance Social Media Reliance By Detecting Social Bots
                        </p>
                    </li>
                
                    <!-- BS -->
                    <li class="border border-gray-300 dark:border-white/30 rounded-xl p-6 hover:bg-lightHover hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:shadow-white/80 dark:hover:bg-darkHover/50">
                        
                        <img src="./assets/uso.png" alt="University of Sargodha" class="w-6 h-6 object-contain">
                
                        <h2 class="text-xl font-semibold text-gray-700 dark:text-white">
                            University of Sargodha
                        </h2>
                
                        <p class="mt-2 text-base text-gray-600 dark:text-white/80 leading-relaxed">
                            <strong>2017 – 2021</strong><br>
                            BS in Computer Science<br>
                            Advisor: Prof. Muhammad Bilal<br>
                            Thesis: Planting the Seeds of Sustainability with Plantobook
                        </p>
                    </li>
                
                </ul>
            
            
            </div>
        </div>
    </div>
