    <div id="talks" class="transparent-theme mt-20 w-full px-[12%] py-10 scroll-mt-20">

        <!-- <h2 class="text-center text-5xl font-Ovo mb-20"></h2> -->
        <div class="section-container border border-gray-300 dark:border-white/30 rounded-xl p-6 hover: hover:-translate-y-1 duration-500 hover:shadow-black dark:hover:bg-darkHover dark:hover:shadow-white">
           

                        <h4 class="text-center mb-2 text-lg font-Ovo">Academic Engagement</h4>
                        <h2 class="text-center text-5xl font-Ovo">Talks & Presentations</h2>
                    
                        <p class="text-center max-w-2xl mx-auto mt-5 mb-12 font-Ovo">
                            Invited talks, conference presentations, and academic engagements
                        </p>
                    
                        <div class="grid grid-cols-auto my-10 gap-5 dark:text-black flex flex-col  mt-12 gap-6 w-full px-[12%] py-10 scroll-mt-20 font-Ovo">
                    
                            <!-- Talk 1 -->
                         <a href="{{ '/talks/complex-networks/' | relative_url }}">
                            <div class="aspect-square bg-no-repeat bg-cover bg-center rounded-lg relative cursor-pointer group"
                                style="background-image: url('/images/Complex4.jpg');">
                               
                                <div class="bg-white w-10/12 rounded-md absolute bottom-5 left-1/2 -translate-x-1/2 py-3 px-5 flex items-center justify-between duration-500 group-hover:bottom-7">
                                 
                                        <div>
                                        <h2 class="font-semibold">Complex Net.</h2>
                                        <p class="text-sm text-gray-700">Dec 11, 2025</p>
                                    </div>
                        
                    
                                    <div class="border rounded-full border-black w-9 aspect-square flex items-center justify-center shadow-[2px_2px_0_#000] group-hover:bg-lime-300 transition">
                                        <img src="./assets/send-icon.png" alt="" class="w-5">
                                    </div>
                                </div>
                              
                            </div>
                           </a>

                            <!-- Talk 2 -->
                         <a href="{{ '/talks/itecuet/' | relative_url }}">
                            <div class="aspect-square bg-no-repeat bg-cover bg-center rounded-lg relative cursor-pointer group"
                                style="background-image: url('/images/itecuet2.jpeg');">
                               
                                <div class="bg-white w-10/12 rounded-md absolute bottom-5 left-1/2 -translate-x-1/2 py-3 px-5 flex items-center justify-between duration-500 group-hover:bottom-7">
                                 
                                        <div>
                                        <h2 class="font-semibold">ITEC, UET</h2>
                                        <p class="text-sm text-gray-700">Feb 12, 2025</p>
                                    </div>
                        
                    
                                    <div class="border rounded-full border-black w-9 aspect-square flex items-center justify-center shadow-[2px_2px_0_#000] group-hover:bg-lime-300 transition">
                                        <img src="./assets/send-icon.png" alt="" class="w-5">
                                    </div>
                                </div>
                              
                            </div>
                           </a>

                          <!-- Talk 3 -->
                         <a href="{{ '/talks/icost/' | relative_url }}">
                            <div class="aspect-square bg-no-repeat bg-cover bg-center rounded-lg relative cursor-pointer group"
                                style="background-image: url('/images/icost-conference2.jpeg');">
                         
                                <div class="bg-white w-10/12 rounded-md absolute bottom-5 left-1/2 -translate-x-1/2 py-3 px-5 flex items-center justify-between duration-500 group-hover:bottom-7">
                                    <div>
                                        <h2 class="font-semibold">ICOSST (IEEE)</h2>
                                        <p class="text-sm text-gray-700">Dec 26, 2024</p>
                                    </div>
                    
                                    <div class="border rounded-full border-black w-9 aspect-square flex items-center justify-center shadow-[2px_2px_0_#000] group-hover:bg-lime-300 transition">
                                        <img src="./assets/send-icon.png" alt="" class="w-5">
                                    </div>
                                </div>
                                
                                
                            </div>
                      </a>

                          <!-- Talk 4 -->
                     <a href="{{ '/talks/tevmlai/' | relative_url }}">
                            <div class="aspect-square bg-no-repeat bg-cover bg-center rounded-lg relative cursor-pointer group extra-talk hidden"
                                style="background-image: url('/images/ml-itec-talk-3.jpeg');">
                    
                                <div class="bg-white w-10/12 rounded-md absolute bottom-5 left-1/2 -translate-x-1/2 py-3 px-5 flex items-center justify-between duration-500 group-hover:bottom-7">
                                    <div>
                                        <h2 class="font-semibold">TEVTA (ML&AI)</h2>
                                        <p class="text-sm text-gray-700">Nov 19, 2024</p>
                                    </div>
                    
                                    <div class="border rounded-full border-black w-9 aspect-square flex items-center justify-center shadow-[2px_2px_0_#000] group-hover:bg-lime-300 transition">
                                        <img src="./assets/send-icon.png" alt="" class="w-5">
                                    </div>
                                </div>
                            </div>
                       </a>
                    
                           

                          <!-- Talk 5 -->
                      <a href="{{ '/talks/trvpython/' | relative_url }}">
                            <div class="aspect-square bg-no-repeat bg-cover bg-center rounded-lg relative cursor-pointer group extra-talk hidden"
                                style="background-image: url('/images/tevta-python-2.jpeg');">
                    
                                <div class="bg-white w-10/12 rounded-md absolute bottom-5 left-1/2 -translate-x-1/2 py-3 px-5 flex items-center justify-between duration-500 group-hover:bottom-7">
                                    <div>
                                        <h2 class="font-semibold">TEVTA (Python)</h2>
                                        <p class="text-sm text-gray-700">Sep 20, 2024</p>
                                    </div>
                    
                                    <div class="border rounded-full border-black w-9 aspect-square flex items-center justify-center shadow-[2px_2px_0_#000] group-hover:bg-lime-300 transition">
                                        <img src="./assets/send-icon.png" alt="" class="w-5">
                                    </div>
                                </div>
                            </div>
                       </a>

                    
                           
                    
                           
                         <!-- Talk 6 -->
                         
                      <a href="{{ '/talks/codex/' | relative_url }}">
                            <div class="aspect-square bg-no-repeat bg-cover bg-center rounded-lg relative cursor-pointer group extra-talk hidden"
                                style="background-image: url('/images/codeex-2024-1.jpeg');">
                    
                                <div class="bg-white w-10/12 rounded-md absolute bottom-5 left-1/2 -translate-x-1/2 py-3 px-5 flex items-center justify-between duration-500 group-hover:bottom-7">
                                    <div>
                                        <h2 class="font-semibold">Codex 2025</h2>
                                        <p class="text-sm text-gray-700">April 14, 2024</p>
                                    </div>
                    
                                    <div class="border rounded-full border-black w-9 aspect-square flex items-center justify-center shadow-[2px_2px_0_#000] group-hover:bg-lime-300 transition">
                                        <img src="./assets/send-icon.png" alt="" class="w-5">
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                        </a>
                        <a href="#"
                        id="showMoreBtn"
                        class="w-max flex items-center justify-center gap-2 text-gray-700 border border-gray-300 dark:border-white/25 hover:bg-slate-100/70 dark:hover:bg-darkHover rounded-full py-2 px-8 mx-auto my-20 duration-300 dark:text-white">
                            Show more
                        </a>
                        </div>
  

    
    </div>
<script>
    const btn = document.getElementById("showMoreBtn");
    const extraTalks = document.querySelectorAll(".extra-talk");

    btn.addEventListener("click", function (e) {
        e.preventDefault();

        extraTalks.forEach(card => {
            card.classList.toggle("hidden");
        });

        btn.innerText = btn.innerText.includes("more")
            ? "Show less"
            : "Show more";
    });
</script>
