---
layout: default
permalink: /talks/complex-networks/
title: Complex Networks 2025
---
  <!-- ----- education section ------ -->
{% include base_path %}
                                    {% include aaabout.css %}
  {% include aanav.html %}  
<div class="max-w-4xl mx-auto py-20">

    <h1 class="text-4xl font-Ovo mb-6">Complex Networks 2025</h1>

    <p class="text-gray-600 mb-8">
        Conference presentation description goes here...
    </p>

    <img src="/assets/work-1.png" class="rounded-xl shadow-md mb-6">

</div>
